package-lock.json
.gitignore
*.lock
*.gql
*.dist
fragmentTypes.json
graphql.generated.ts
schema.gpl
src/components/Modals/MoviesModal/MoviesModal.tsx
src/components/Modals/RestaurantModal/RestaurantModal.tsx