<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Decision App Make fast Decisions</title>
        <meta name="description" content="This decision app is designed to help you make a decision that you will be happy with. It's easy to use and can be used in a variety of situations." >

        <link rel="shortcut icon" type="image/x-icon" href="./icons/favicon-96x96.ico">
        <link rel="manifest" href="./manifest.json" />
        <script type="text/javascript">
            (function() {
                <%= environmentValues.map((env) => `window.EXTERNAL__${env.key}__ = "${env.value}";`).join("\n") %>
            })();
        </script>
    </head>
    <body>
        <div id="page">
            <react-admin-starter />
        </div>
    </body>
</html>
