<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Decision App Make fast Decisions</title>
        <meta name="description" content="This decision app is designed to help you make a decision that you will be happy with. It's easy to use and can be used in a variety of situations." >
        <meta name="theme-color" content="#000000">
        <link rel="shortcut icon" type="image/png" href="./decision_logo.png">
        <link rel="apple-touch-icon" href="./decision_logo.png">
        <link rel="manifest" href="./manifest.json" />
        <script type="text/javascript">
            (function() {
                <%= environmentValues.map((env) => `window.EXTERNAL__${env.key}__ = "${env.value}";`).join("\n") %>
            })();
        </script>
    </head>
    <body>
        <div id="page">
            <react-admin-starter />
        </div>
        <script>
            if("serviceWorker" in navigator) {
                window.addEventListener("load", ()=> {
                    navigator.serviceWorker.register("./serviceworker.js")
                })
            }
        </script>
    </body>
</html>
